[Unit]
Description=BME280 logger
After=time-sync.target
Wants=time-sync.target

[Service]
Type=simple
User=fedor
Group=fedor
WorkingDirectory=/home/fedor/projects/bme280-rpi-logger
ExecStart=/home/fedor/projects/bme280-rpi-logger/.venv/bin/python bme280_rpi_logger/__init__.py -i 15 -p 1 -a 0x76 /var/log/userland-logs/bme280_log.csv
Restart=on-failure
StandardOutput=journal
StandardError=journal
SyslogIdentifier=bme280-rpi-logger

[Install]
WantedBy=multi-user.target
